{% extends "blog/base.html" %}
{% block title %}Rose Knows Best - Home{% endblock %}

{% block content %}
<h1>Home</h1>
<p>
    Hello, and welcome to my website! My name is Michael Rose.  I grew up Atlanta, studied at Georgia Tech, and
    currently work in software and quality engineering for <a href="https://calendly.com/" target="_blank">Calendly</a>.
</p>
<p>
    I enjoy staying fit, playing chess, reading, traveling, and programming in my free time.  The Internet has been a
    wonderful resource for me, and I want to start contributing to it. I created this website as a place to share
    information with others and to work on personal projects with that goal in mind. If you have any questions or
    comments about the website, please let me know through the GitHub project by clicking on the link in the footer of
    any page.  If you'd like to contact me otherwise, please complete <a href="#">this web form</a>.
</p>
<h1>Current Events</h1>
<p>
    As of September 2019, I have just launched this site, so their isn't much going on besides this homepage.  My first
    project was to create the site itself, which I did using Django because I am a Python guy.  One of the more common
    use cases of Django is to create a blog application, so I have added one and it can be accessed via the top navigation
    panel. Check it out to see what I decided to post about!  Here are some of the other projects I have in mind for the
    site right now, and you can always see the most up-to-date version on GitHub.
</p>
<ul class="list-group pb-4">
    <li class="list-group-item">Create a registration portal and a web form to contact me via email</li>
    <li class="list-group-item">Develop a chess server in Python and integrate it into the site</li>
    <li class="list-group-item">Do something cool with fantasy football stats that I can share with my league</li>
</ul>
<h4 id="credits">Credits</h4>
<small>
    This site is powered by <a href="https://www.djangoproject.com">Django</a> and <a href="https://getbootstrap.com">Bootstrap</a>.
    It is hosted on <a href="https://www.digitalocean.com">Digital Ocean</a>, and the source code is on
    <a href="https://github.com/rosemichaele/roseknowsbest">GitHub</a>. It has been a goal of mine to have my own home
    on the internet for a long time, and the task was made easy thanks to the contributions of so many people to the
    open-source community. I would like to extend a special thank you to the contributors for their efforts in
    maintaining and documenting these frameworks. Now it is up to me to put quality content on the site, and perhaps to
    help others more easily find the information they seek by sharing my own experiences.
</small>
{% endblock %}